    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 18px;
        /* Or use 1.2rem, 1em, etc. */
    }

    #section1 {
        color: #1d1515;
    }

    #section2 {
        color: #1d1515;
    }

    #profilepicture {
        float: right;
        margin-bottom: 60px;
        margin-top: 20px;
        margin-right: 45px;
        margin-left: -50px;
    }

    #stockimage {
        float: right;
        margin-bottom: 120px;
        margin-top: 40px;
        margin-right: 90px;
        margin-left: -100px;
    }

    body {
        background-image: url("webbanner.jpg");
    }

    a:visited {
        color: #fd1f8e;
        /* Visited link color */
    }

    @media screen and (orientation: portrait) {
        #stockimage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* Sets image to center */
            width: 100%;
        }
    }