    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 18px;
        /* Or use 1.2rem, 1em, etc. */
    }

    #section1 {
        color: #1d1515;
    }

    #section2 {
        color: #1d1515;
    }

    .image-container {
        display: flex;
        /* Activates the flexbox layout */
        flex-direction: column;
        /* Stacks the children vertically */
        align-items: center;
        /* Centers the images horizontally within the container */
        /* Optional: set a height for the container if you need to align within a specific vertical space */
        /* height: 500px; */
    }


    body {
        background-image: url("webbanner.jpg");
    }

    a:link {
        color: #1d1515;
        /* Unvisited link color */
    }

    a:visited {
        color: #fd1f8e;
        /* Visited link color */
    }

    a:hover {
        color: green
            /* Mouse over link color */
    }

    @media screen and (orientation: portrait) {
        #stockimage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* Sets image to center */
            width: 100%;
        }
    }