    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        color: #895129;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 18px;
        /* Or use 1.2rem, 1em, etc. */
    }

    #section1 {
        background-color: lightpink;
        color: white;
    }

    #profilepicture {
        float: right;
        margin-bottom: 60px;
        margin-top: 20px;
        margin-right: 45px;
        margin-left: -50px;
    }

    body {
        background-image: url("webbanner.jpg");
        /* Specify the image path */
    }

    a:visited {
        color: hotpink;
        /* Visited link color */
    }