* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (orientation: portrait) {
    #pecanpie {
        width: 100%; /* Makes image take full width of its container */
        height: auto;
        max-width: 100%; /* Prevents it from exceeding its natural size */
    }

    #pietitle {
        width: 75vw;
        left: 50vw;
    }

    #pietitle h1 {
        width: 45vw;
    }
}
    #pecanpie {
    float: right;
    margin-bottom: 60px; 
    margin-top: 20px;
    margin-right: 45px;
    margin-left: -50px;
    }