* {
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (orientation: portrait) {
    #pecanpie {
        width: 100vw;
    }

    #pietitle {
        width: 75vw;
        left: 50vw;
    }

    #pietitle h1 {
        width: 45vw;
    }
}
@media screen and (orientation: landscape) {
    #pecanpie {
        position:fixed
        left: 500px;
    }
}