* {
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (orientation: portrait) {
    #pecanpie {
        width: 100vw;
    }

    #pietitle {
        width: 75vw;
        left: 50vw;
    }

    #pietitle h1 {
        width: 45vw;
    }
}
@media screen and (orientation: landscape) {
    #pecanpie {
    float: right;
    margin-bottom: 60px; 
    margin-top: 20px;
    margin-right: 45px;
    margin-left: -50px;
    }
}