@media screen and (orientation: portrait) {
    #pecanpie {
        width: 100vw;
    }

    #pietitle {
        width: 50vw;
        left: 50vw;
    }

    #pietitle h1 {
        width: 45vw;
    }

    #list1 {
    background-color: #ae945a;
    }
}
{
    font-family: Arial, Helvetica, sans-serif;
}