@media screen and (orientation: portrait) {
    #pecanpie {
        width: 50vw;
    }

    #pietitle {
        width: 50vw;
        left: 50vw;
        background-color: #ae945a;
    }

    #pietitle h1 {
        width: 45vw;
    }
}