* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (orientation: portrait) {
    #pecanpie {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* Optional: Define a width smaller than the container for margin auto to work */
        width: 50%
    }

    #pietitle {
        width: 75vw;
        left: 50vw;
    }

    #pietitle h1 {
        width: 45vw;
    }
}
    #pecanpie {
    float: right;
    margin-bottom: 60px; 
    margin-top: 20px;
    margin-right: 45px;
    margin-left: -50px;
    }