@media screen and (orientation: portrait) {
    #pecanpie {
        width: 50vw;
    }

    #rhodietitle {
        width: 50vw;
        left: 50vw;
        background-color: #55883b;
    }

    #rhodietitle h1 {
        width: 45vw;
    }
}